@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body{
    background-color: black;
}
*{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size:1.2rem;
    
    
}
span{
    display: block;
}
.container{
    width:30%;
    margin:30px;
}